/* TODO: Switch to LESS? https://github.com/duncansmart/less.js-windows + https://github.com/jaspervdj/hakyll/issues/282 */

body {
    font-family: sans-serif;
    background-color: #efefef;
}

.library .url {
    font-size: 2em;
    display: block;
}

.tagList > .tag, 
.library .tags .tag {
    border: 1px solid gray;
    background-color: #dfe2e5;
    border-radius: 8px;
    display: inline-block;
    padding: 5px;
    margin-left: 3px;
    margin-right: 3px;
}

a:visited {

}

.library .tags {
    display: block;
}

.library {
    border: 1px dashed black;
    min-height: 100px;
    border-radius: 8px;
    margin: 5px;
}

button {
    padding: 10px;
    border-radius: 8px;
}

select,
input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
}

.row {
    padding-top: 5px;
    padding-bottom: 5px;
}

.metadata {
    display: none;
}