#post-preview {
    background-color: white;
    border: 1px dashed black;
    min-height: 300px;
    padding: 10px;
}

#post-preview .contents {
    display: block;
}

button.preview {
    background-color: #337ab7;
    color: #fff;
}

.info {
    font-style: italic;
}

#new-submit-request-button,
#confirmed,
#confirm {
    display: none;
}

.select2-container {
    width: 100% !important;
}