<div class="col-md-12 col-sm-12 intro">
        <h1>$title$</h1>
        <h2 class="authors">By $for(authors)$ $item$$sep$, $endfor$ on $date$</h2>
        <div>
            $if(has-permission)$
                <a href="/$permission-file$.html" target="_blank">Permission was given by the author to reproduce this content here.</a>
            $else$
                Permission was not yet given to reproduce this content here.
            $endif$
        </div>
</div>

<div class="col-md-12 col-sm-12">
    <div class="col-md-12 col-sm-12">
        <h1 class="source"><a href="$url$" target="_blank">Source</a></h1>
    </div>
</div>

<div class="col-md-12 col-sm-12">
    <h1>Tagged with</h1>
    $tags$
</div>

<div class="col-md-12 col-sm-12">
        $body$
</div>
