<div class="col-md-12 col-sm-12 intro">
        <h1>$title$</h1>
        <h2 class="authors">By $authors$</h2>
</div>

<div class="col-md-12 col-sm-12">
        $generateVideoEmbed(url-video)$
</div>

<div class="col-md-12 col-sm-12">
    <div class="col-md-6 col-sm-6">
        <h1><a href="$url-slides$" target="_blank">Slide Deck</a></h1>
    </div>
    <div class="col-md-6 col-sm-6">
        <h1 class="source"><a href="$source$" target="_blank">Source</a></h1>
    </div>
</div>

<div class="col-md-12 col-sm-12">
        <h1>Tagged with</h1>
        $tags$
</div>

<div class="col-md-12 col-sm-12">
        <h1>Detailed description</h1>
        $body$
</div>

