<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Hask Anything! - $title$</title>
        <!-- Bootstrap CSS -->
        <link href="/vendor/bootstrap/bootstrap.min.css" rel="stylesheet" />
        <!-- jQuery -->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="/vendor/bootstrap/bootstrap.min.js"></script>
        <!-- ReactJS -->
        <script src="/vendor/react/react.min.js"></script>
        <script src="/vendor/react/JSXTransformer.js"></script>
        <!-- RamdaJS -->
        <script src="/vendor/ramdajs/ramda.js"></script>
        <!-- Keys.css -->
        <link rel="stylesheet" type="text/css" href="/vendor/keys/keys.css" />
        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <!-- Custom JS -->
        <script src="/js/json.js"></script>
    </head>
    <body>
    <div class="container">
        <a href="/"><h1>Hask Anything!</h1></a>
    </div>

    <div class="container">
        <div class="row col-md-24 col-sm-24">
            $body$
        </div>
    </div>
    </body>
</html>
