<script src="/js/dropdowns.js"></script>
<script src="/js/metadata.js"></script>
<link rel="stylesheet" href="/vendor/select2/css/select2.min.css"/>
<script src="/vendor/select2/js/select2.full.min.js"></script>
<script src="/vendor/marked/marked.js"></script>
<link rel="stylesheet" href="/vendor/bootstrap-markdown/css/bootstrap-markdown.min.css"/>
<script src="/vendor/bootstrap-markdown/js/bootstrap-markdown.js"></script>
<script src="/vendor/strip-yaml-header/strip-yaml-header.js"></script>

$body$
